* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* border: solid red; */
    height: 100vh;
    width: 100%;
    background-image: url(https://sharukh4.netlify.app/images/slider-bg.jpg);
    background-size: cover;
}

.container .nav {
    width: 100%;
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    color: white;
    height: 10vh;
    align-items: center;
    padding: 0 3vw;
}

.container .nav .option {
    display: flex;
    gap: 2vw;
}

.body {
    color: white;
    /* border: solid red; */
    width: 50vw;
    /* margin-top: 20vh; */
    /* margin-left:20px ; */
    /* height: 80vh; */
    padding: 20vh 3vw 0;
}

.jewe {
    font-size: 50px;
}

.body p {
    margin-top: 20px;
    font-size: 25px;
}

.body button {
    padding: 10px;
    background-color: black;
    border: solid yellow;
    color: yellow;
    margin-top: 40px;
    margin-left: 70px;
    width: 20vw;
    border-radius: 20px;
}

.page2 {
    /* border: solid red; */
    /* height: 120vh; */
    width: 100%;
    padding: 50px 0px;
}

.page2 h1 {
    text-align: center;
}

.page2 h3 {

    border: solid #FD9C6B;
    /* text-align: center; */
    font-size: 30px;
    background-color: #FD9C6B;
    height: fit-content;
    width: fit-content;
    margin-left: 450px;
}

.page2 .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    margin: 60px 0px;
}

.page2 .products div {
    width: 20vw;
    height: 50vh;
    /* border: solid red; */
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.page2 .products div h2:nth-child(1) {
    /* border: solid; */
    width: fit-content;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: white;
}

.page2 .products div h4 {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.page2 .products div h4 span span {
    color: #FD9C6B;

}

.page2 .products div img {
    width: 100px;
    margin-left: 70px;
    height: 100px;
}


.page3 {
    /* border: solid; */
    width: 100vw;
    height: 80vh;
    display: flex;
    padding: 80px;
    padding-bottom: 0;
}


.page3 div {
    padding: 50px;

}

.page3 div p {
    /* border: solid; */
    margin: 20px 0px;
    font-size: 20px;
}

.page3 div button {
    background-color: #FD9C6B;
    border: solid #FD9C6B;
    height: 8vh;
    width: 15vw;
    padding: 10px;
    margin: 15px;
    border-radius: 50px;
}


.page4 {
    /* height: 90vh; */
    width: 100vw;
    /* border: solid; */
    display: flex;


}

.page4 .img1 {
    border: solid;
    height: 88vh;
    width: 50vw;
    background-image: url(https://sharukh4.netlify.app/images/o1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;

}

.page4 .img1 h1 {
    color: white;
    font-size: 50px;
    /* border: solid black; */
    margin: 30px 0px 0px 20px;

}

.page4 .img1 button {
    color: orange;
    padding: 10px;
    margin: 20px;
    background-color: black;
    border: solid orange;
    width: 10vw;
    /* height: 20px; */


}

.page4 .img2 .pic2 {
    border: solid;
    width: 700px;
    height: 250px;
    background-image: url(https://sharukh4.netlify.app/images/o3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;

}

.page4 .img2 .pic2 div {
    /* border: solid; */
    width: fit-content;
    margin: 150px 0px 10px 20px;
}

.page4 .img2 .pic2 div h1 {
    color: white;
    font-size: 30px;
}

.page4 .img2 .pic2 div button {
    color: orange;
    padding: 10px;
    margin: 10px;
    background-color: black;
    border: solid orange;
    width: 10vw;
    /* height: 20px; */


}

.page4 .img2 .pic1 {
    border: solid;
    width: 700px;
    height: 250px;
    background-image: url(https://sharukh4.netlify.app/images/o2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;

}

.page4 .img2 .pic1 div {
    /* border: solid; */
    width: fit-content;
    margin: 150px 0px 10px 500px;
}

.page4 .img2 .pic1 div h1 {
    color: white;
    font-size: 30px;
}

.page4 .img2 .pic1 div button {
    color: orange;
    padding: 10px;
    margin: 10px;
    background-color: black;
    border: solid orange;
    width: 10vw;
    /* height: 20px; */
}

.page5 {
    /* border: solid; */
    height: 120vh;
    width: 100%;
    /* background-color: #FD9C6B; */
}

.page5 #s {
    /* border: solid; */
    text-align: center;
    margin: 20px;

}

.pic1 {
    /* border: solid; */
    background-image: url(https://sharukh4.netlify.app/images/b1.jpg);
    background-repeat: no-repeat;
    height: 130vh;
    width: 50vw;
    margin: 20px;
}

.text {
    /* border: solid; */
    width: fit-content;
    margin: 400px 0px 0px 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

.down {
    /* border: solid; */
    padding: 20px;
}

.down p {
    font-size: 20px;
}

.down button {
    margin: 20px 0px 0px 10px;
    padding: 10px;
    font-size: 20px;
}

.pic2 {
    /* border: solid; */
    background-image: url(https://sharukh4.netlify.app/images/b2.jpg);
    background-repeat: no-repeat;
    height: 130vh;
    width: 50vw;
    margin: 20px;
}

.text2 {
    /* border: solid; */
    width: fit-content;
    margin: 400px 0px 0px 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

.down {
    /* border: solid; */
    padding: 20px;
    margin-top: 40px;
}

.down p {
    font-size: 20px;
}

.down button {
    margin: 20px 0px 0px 10px;
    padding: 10px;
    font-size: 20px;
}

.aditi {
    display: flex;
}


.page6 {
    /* border: solid; */
    height: 90vh;
    width: 100vw;
}

.page6 h1 {
    /* border: solid;
    width: fit-content; */
    text-align: center;
}

.page6 div {
    border: solid;
    width: 80%;
    height: 50vh;
    background-color: black;
    margin: 70px auto;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.page6 div img{
    border-radius: 50%;
    width: 100px;
    
}
.page6 div h1{
    color: white;
}
.page6 div p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.button3 {
    width: 5vw;
    height: 5vh;
    margin-left: 500px;
    background-color: orange;
}
.button{
    margin-left: 10px;
    width: 5vw;
    height: 5vh;
    
    background-color: orange;
}


